<form ng-submit='controller.register()'>
  <div class=" col-md-6 col-md-offset-3">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text"id="firstName" class="form-control" ng-model='controller.user.firstName'/>

      <label for="lastName">Last Name</label>
      <input type="text"id="lastName" class="form-control" ng-model='controller.user.lastName'/>

      <label for="eMail">Email</label>
      <input type="text"id="eMail" class="form-control" ng-model='controller.user.email'/>

      <label for="password">PassWord</label>
      <input type="password"id="password" class="form-control" ng-model='controller.user.password'/>

      <label for="confirmPassword">Cornfirm Password</label>
      <input type="password"id="confirmPassword" class="form-control" ng-model='controller.user.confirmPassword'/>
    </div>

    <input type="submit" value="Register" class="btn btn-primary">
  </div>

</form>
